endnote.Tests/Service References/UserServiceReference/User5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Notenet.User.Data.Repository" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Notenet.User.Data.Repository" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1111/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1111/User.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfaspnet_Users">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aspnet_Users" nillable="true" type="tns:aspnet_Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaspnet_Users" nillable="true" type="tns:ArrayOfaspnet_Users" />
  <xs:complexType name="aspnet_Users">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
          <xs:element minOccurs="0" name="FriendInfoes" nillable="true" type="tns:ArrayOfFriendInfo" />
          <xs:element minOccurs="0" name="FriendInfoes1" nillable="true" type="tns:ArrayOfFriendInfo" />
          <xs:element minOccurs="0" name="IsAnonymous" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastActivityDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LoweredUserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobileAlias" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aspnet_Applications" nillable="true" type="tns:aspnet_Applications" />
          <xs:element minOccurs="0" name="aspnet_ApplicationsReference" nillable="true" type="q1:EntityReferenceOfaspnet_ApplicationsEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_Membership" nillable="true" type="tns:aspnet_Membership" />
          <xs:element minOccurs="0" name="aspnet_MembershipReference" nillable="true" type="q1:EntityReferenceOfaspnet_MembershipEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_PersonalizationPerUser" nillable="true" type="tns:ArrayOfaspnet_PersonalizationPerUser" />
          <xs:element minOccurs="0" name="aspnet_Profile" nillable="true" type="tns:aspnet_Profile" />
          <xs:element minOccurs="0" name="aspnet_ProfileReference" nillable="true" type="q1:EntityReferenceOfaspnet_ProfileEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_Roles" nillable="true" type="tns:ArrayOfaspnet_Roles" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_Users" nillable="true" type="tns:aspnet_Users" />
  <xs:complexType name="ArrayOfFriendInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendInfo" nillable="true" type="tns:FriendInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendInfo" nillable="true" type="tns:ArrayOfFriendInfo" />
  <xs:complexType name="FriendInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FriendID" type="ser:guid" />
          <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="UserID" type="ser:guid" />
          <xs:element minOccurs="0" name="aspnet_Users" nillable="true" type="tns:aspnet_Users" />
          <xs:element minOccurs="0" name="aspnet_Users1" nillable="true" type="tns:aspnet_Users" />
          <xs:element minOccurs="0" name="aspnet_Users1Reference" nillable="true" type="q2:EntityReferenceOfaspnet_UsersEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_UsersReference" nillable="true" type="q2:EntityReferenceOfaspnet_UsersEdRKUs2L" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FriendInfo" nillable="true" type="tns:FriendInfo" />
  <xs:complexType name="aspnet_Applications">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
          <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoweredApplicationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aspnet_Membership" nillable="true" type="tns:ArrayOfaspnet_Membership" />
          <xs:element minOccurs="0" name="aspnet_Paths" nillable="true" type="tns:ArrayOfaspnet_Paths" />
          <xs:element minOccurs="0" name="aspnet_Roles" nillable="true" type="tns:ArrayOfaspnet_Roles" />
          <xs:element minOccurs="0" name="aspnet_Users" nillable="true" type="tns:ArrayOfaspnet_Users" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_Applications" nillable="true" type="tns:aspnet_Applications" />
  <xs:complexType name="ArrayOfaspnet_Membership">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aspnet_Membership" nillable="true" type="tns:aspnet_Membership" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaspnet_Membership" nillable="true" type="tns:ArrayOfaspnet_Membership" />
  <xs:complexType name="aspnet_Membership">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptCount" type="xs:int" />
          <xs:element minOccurs="0" name="FailedPasswordAnswerAttemptWindowStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FailedPasswordAttemptCount" type="xs:int" />
          <xs:element minOccurs="0" name="FailedPasswordAttemptWindowStart" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLockedOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastLockoutDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastLoginDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastPasswordChangedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LoweredEmail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MobilePIN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordAnswer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordFormat" type="xs:int" />
          <xs:element minOccurs="0" name="PasswordQuestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PasswordSalt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="aspnet_Applications" nillable="true" type="tns:aspnet_Applications" />
          <xs:element minOccurs="0" name="aspnet_ApplicationsReference" nillable="true" type="q4:EntityReferenceOfaspnet_ApplicationsEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_Users" nillable="true" type="tns:aspnet_Users" />
          <xs:element minOccurs="0" name="aspnet_UsersReference" nillable="true" type="q4:EntityReferenceOfaspnet_UsersEdRKUs2L" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_Membership" nillable="true" type="tns:aspnet_Membership" />
  <xs:complexType name="ArrayOfaspnet_Paths">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aspnet_Paths" nillable="true" type="tns:aspnet_Paths" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaspnet_Paths" nillable="true" type="tns:ArrayOfaspnet_Paths" />
  <xs:complexType name="aspnet_Paths">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
          <xs:element minOccurs="0" name="LoweredPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PathId" type="ser:guid" />
          <xs:element minOccurs="0" name="aspnet_Applications" nillable="true" type="tns:aspnet_Applications" />
          <xs:element minOccurs="0" name="aspnet_ApplicationsReference" nillable="true" type="q5:EntityReferenceOfaspnet_ApplicationsEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_PersonalizationAllUsers" nillable="true" type="tns:aspnet_PersonalizationAllUsers" />
          <xs:element minOccurs="0" name="aspnet_PersonalizationAllUsersReference" nillable="true" type="q5:EntityReferenceOfaspnet_PersonalizationAllUsersEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_PersonalizationPerUser" nillable="true" type="tns:ArrayOfaspnet_PersonalizationPerUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_Paths" nillable="true" type="tns:aspnet_Paths" />
  <xs:complexType name="aspnet_PersonalizationAllUsers">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PageSettings" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="PathId" type="ser:guid" />
          <xs:element minOccurs="0" name="aspnet_Paths" nillable="true" type="tns:aspnet_Paths" />
          <xs:element minOccurs="0" name="aspnet_PathsReference" nillable="true" type="q6:EntityReferenceOfaspnet_PathsEdRKUs2L" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_PersonalizationAllUsers" nillable="true" type="tns:aspnet_PersonalizationAllUsers" />
  <xs:complexType name="ArrayOfaspnet_PersonalizationPerUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aspnet_PersonalizationPerUser" nillable="true" type="tns:aspnet_PersonalizationPerUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaspnet_PersonalizationPerUser" nillable="true" type="tns:ArrayOfaspnet_PersonalizationPerUser" />
  <xs:complexType name="aspnet_PersonalizationPerUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PageSettings" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="PathId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="UserId" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="aspnet_Paths" nillable="true" type="tns:aspnet_Paths" />
          <xs:element minOccurs="0" name="aspnet_PathsReference" nillable="true" type="q7:EntityReferenceOfaspnet_PathsEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_Users" nillable="true" type="tns:aspnet_Users" />
          <xs:element minOccurs="0" name="aspnet_UsersReference" nillable="true" type="q7:EntityReferenceOfaspnet_UsersEdRKUs2L" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_PersonalizationPerUser" nillable="true" type="tns:aspnet_PersonalizationPerUser" />
  <xs:complexType name="ArrayOfaspnet_Roles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="aspnet_Roles" nillable="true" type="tns:aspnet_Roles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaspnet_Roles" nillable="true" type="tns:ArrayOfaspnet_Roles" />
  <xs:complexType name="aspnet_Roles">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationId" type="ser:guid" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoweredRoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleId" type="ser:guid" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="aspnet_Applications" nillable="true" type="tns:aspnet_Applications" />
          <xs:element minOccurs="0" name="aspnet_ApplicationsReference" nillable="true" type="q8:EntityReferenceOfaspnet_ApplicationsEdRKUs2L" />
          <xs:element minOccurs="0" name="aspnet_Users" nillable="true" type="tns:ArrayOfaspnet_Users" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_Roles" nillable="true" type="tns:aspnet_Roles" />
  <xs:complexType name="aspnet_Profile">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="LastUpdatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PropertyNames" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PropertyValuesBinary" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="PropertyValuesString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
          <xs:element minOccurs="0" name="aspnet_Users" nillable="true" type="tns:aspnet_Users" />
          <xs:element minOccurs="0" name="aspnet_UsersReference" nillable="true" type="q9:EntityReferenceOfaspnet_UsersEdRKUs2L" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="aspnet_Profile" nillable="true" type="tns:aspnet_Profile" />
</xs:schema>