endnote.Tests/Service References/ContentServiceReference/Content.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Content" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12581/Content.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12581/Content.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12581/Content.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Notenet.Content.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContent_GetUserTagList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTagList" />
  </wsdl:message>
  <wsdl:message name="IContent_GetUserTagList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTagListResponse" />
  </wsdl:message>
  <wsdl:message name="IContent_GetUserTagItemList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTagItemList" />
  </wsdl:message>
  <wsdl:message name="IContent_GetUserTagItemList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTagItemListResponse" />
  </wsdl:message>
  <wsdl:message name="IContent_GetUserItemContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserItemContent" />
  </wsdl:message>
  <wsdl:message name="IContent_GetUserItemContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserItemContentResponse" />
  </wsdl:message>
  <wsdl:message name="IContent_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IContent_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:portType name="IContent">
    <wsdl:operation name="GetUserTagList">
      <wsdl:input wsaw:Action="http://tempuri.org/IContent/GetUserTagList" message="tns:IContent_GetUserTagList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContent/GetUserTagListResponse" message="tns:IContent_GetUserTagList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTagItemList">
      <wsdl:input wsaw:Action="http://tempuri.org/IContent/GetUserTagItemList" message="tns:IContent_GetUserTagItemList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContent/GetUserTagItemListResponse" message="tns:IContent_GetUserTagItemList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserItemContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IContent/GetUserItemContent" message="tns:IContent_GetUserItemContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContent/GetUserItemContentResponse" message="tns:IContent_GetUserItemContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IContent/Test" message="tns:IContent_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContent/TestResponse" message="tns:IContent_Test_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Content" />
</wsdl:definitions>