endnote.Tests/Service References/ContentServiceReference/Content.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12581/Content.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:12581/Content.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Notenet.Content.DataContract" />
  <xs:element name="GetUserTagList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTagListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Notenet.Content.DataContract" minOccurs="0" name="GetUserTagListResult" nillable="true" type="q2:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTagItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q3:guid" />
        <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTagItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Notenet.Content.DataContract" minOccurs="0" name="GetUserTagItemListResult" nillable="true" type="q4:ArrayOfItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ItemID" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserItemContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Notenet.Content.DataContract" minOccurs="0" name="GetUserItemContentResult" nillable="true" type="q7:ItemContent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserID" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>