endnote.Tests/Service References/ContentServiceReference/Content2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Notenet.Content.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Notenet.Content.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12581/Content.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemID" type="ser:guid" />
      <xs:element minOccurs="0" name="TagText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="tns:ItemContent" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemAbstract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastUpdated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ItemContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InternalUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemContent" nillable="true" type="tns:ItemContent" />
</xs:schema>